.fileExplorer :global {
  min-height: 100vh;
  width: 250px;
  padding: 12px;

  .folder,
  .file {
    margin-inline-end: 20px;
    cursor: pointer;
  }

  .folder {
    margin-inline-end: 10px;
    font-weight: bold;
  }

  .selected {
    background-color: #ddd;
  }
}
